
@(meno: String,pozicia:String)
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Aplikacia</title>
</head>
<body>
<div>
<div style=" position: absolute;background-color: yellow;width: 100%;height: 20%;">
<div style=" position: absolute;background-color: #00FFFF;width: 35%;height: 100%; left:65%">
<div style=" position: absolute;background-color: #00FF00;width: 50%;height: 100%;min-width: 100px;min-height: 100px">
<button type="button" style=" position: relative;left: 5%;width:90%;height: 30%">Pouzivatelia</button> 
<button type="button" style=" position: relative;left: 5%;width:90%;height: 30%">Odhlasit</button> 
<p style=" position: relative;left: 25%"> 14.11.2012 15.00.30</p>
</div>
<div style=" position: absolute;background-color: #00FA00;width: 50%;height: 100%;min-width: 100px;min-height: 100px; left:50%"> 
<p style=" position: relative;left: 10%">Použivateľ: @meno</p>
<p style=" position: relative;left: 10%">@pozicia</p>
<p style=" position: relative;left: 10%">Čas prihlasenia: 15.00.25</p>
</div>
</div>

</div>
<div style="display:yes;position: absolute;background-color: #C0C0C0;width: 100%;height: 10%;top:20%">
<div style="position: absolute;background-color: #CFC0CF;width: 60%;height: 100%;">
<h1 style="position: relative;left: 20%">Sklad</h1>
</div>
<div style="position: absolute;background-color: #CFC000;width: 40%;height: 100%;left:60%">
<button type="button" style="width:32%;height: 100%">Objednavky</button> 
<button type="button" style="width:32%;height: 100%">Prijať tovar</button> 
<button type="button" style="width:32%;height: 100%">Vyskladniť tovar</button> 
</div>

</div>
</div>
</body>
</html>